@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

body {
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Orbitron", sans-serif;

	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 25vh;
}

#instructions-title {
	color: cyan;
	height: 3vh;
}

#start-btn {
	background-color: transparent;
	padding: 10px 20px;
	color: cyan;
	border: 2px solid cyan;
	box-shadow:
		0 0 10px #00f5ff,
		0 0 30px #00f5ff,
		0 0 60px rgba(0, 245, 255, 0.3);
	text-decoration: none;
	margin-top: 2vh;
}

#instructions-text {
	color: gray;
}
